/*
   miércoles, 26 de noviembre de 201420:21:31
   Usuario: 
   Servidor: PEDGAVA
   Base de datos: ServiciosWeb
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.SHOWS
	(
	SHOW_ID numeric(5, 0) NOT NULL,
	SHOW_NAME varchar(50) NOT NULL,
	DESCRIPTION varchar(250) NOT NULL,
	BEGIN_DATE datetime NOT NULL,
	END_DATE datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.SHOWS ADD CONSTRAINT
	PK_SHOWS PRIMARY KEY CLUSTERED 
	(
	SHOW_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.SHOWS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TABLES
	(
	TABLE_ID numeric(5, 0) NOT NULL,
	TABLE_NUMBER varchar(10) NOT NULL,
	PRICE varchar(10) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TABLES ADD CONSTRAINT
	PK_TABLES PRIMARY KEY CLUSTERED 
	(
	TABLE_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TABLES SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.USERS
	(
	USER_ID numeric(5, 0) NOT NULL,
	FIRSTNAME varchar(30) NOT NULL,
	LASTNAME varchar(30) NOT NULL,
	EMAIL varchar(50) NOT NULL,
	PHONE varchar(20) NOT NULL,
	PASS varchar(20) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.USERS ADD CONSTRAINT
	PK_USERS_1 PRIMARY KEY CLUSTERED 
	(
	USER_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.USERS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TABLESXUSERS
	(
	USER_ID numeric(5, 0) NOT NULL,
	TABLE_ID numeric(5, 0) NOT NULL,
	BEGIN_DATE datetime NOT NULL,
	SHOW_ID numeric(5, 0) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TABLESXUSERS ADD CONSTRAINT
	PK_TABLESXUSERS PRIMARY KEY CLUSTERED 
	(
	USER_ID,
	TABLE_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TABLESXUSERS ADD CONSTRAINT
	FK_TABLESXUSERS_USERS1 FOREIGN KEY
	(
	USER_ID
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TABLESXUSERS ADD CONSTRAINT
	FK_TABLESXUSERS_TABLES FOREIGN KEY
	(
	TABLE_ID
	) REFERENCES dbo.TABLES
	(
	TABLE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TABLESXUSERS ADD CONSTRAINT
	FK_TABLESXUSERS_SHOWS FOREIGN KEY
	(
	TABLE_ID
	) REFERENCES dbo.SHOWS
	(
	SHOW_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TABLESXUSERS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.USERSXSHOWS
	(
	USER_ID numeric(5, 0) NOT NULL,
	SHOW_ID numeric(5, 0) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.USERSXSHOWS ADD CONSTRAINT
	PK_USERSXSHOWS PRIMARY KEY CLUSTERED 
	(
	USER_ID,
	SHOW_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.USERSXSHOWS ADD CONSTRAINT
	FK_USERSXSHOWS_SHOWS FOREIGN KEY
	(
	SHOW_ID
	) REFERENCES dbo.SHOWS
	(
	SHOW_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.USERSXSHOWS ADD CONSTRAINT
	FK_USERSXSHOWS_USERS1 FOREIGN KEY
	(
	USER_ID
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.USERSXSHOWS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
